
#sidebar > ul > li {
    position: relative;
    width: 195px;
    height: 80px;
}
#sidebar > ul > li ul {
    position: absolute;
    left: 195px;
    top: 0;
    width: 195px;
    z-index: 5000;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #1f2b3d;
    color: #fff;
    /* display: none; */
}
#sidebar > ul > li ul a {
    color: #fff;
    display: block;
    padding: 15px;
    padding-left: 20px;
}
#sidebar > ul > li ul a:hover {
    color: #18cdc4;
    background-color: #26344B;
}


#navbar-main {
    padding: 0;
    background-color: #26344B;
}
#navbar-main .navbar-brand {
    background-color: #17C4BB;
    padding: 20px 15px;
}
#navbar-main a {
    color: #fff;
}
#navbar-main .dropdown-menu {
    left: initial;
    right: 0;
}
#navbar-main .dropdown-item {
    color: #555;
}
