#sidebar {
    width: 195px;
    background-color: #26344B;
    min-height: 100vh;
}
#sidebar a {
    text-decoration: none;
    color: #e4e9f2;
}
#sidebar > a {
    background-color: #17C4BB;
    padding: 20px 15px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
#sidebar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sidebar > ul > li > a {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #2b3b55;
    display: block;
}
#sidebar > ul > li:first-child {
    margin-top: 15px;
    border-top: 1px solid #2b3b55;
}
#sidebar > ul > li i {
    font-size: 24px;
    display: block;
}
#sidebar > ul > li span {
    font-size: 13px;
    margin-top: 5px;
}

#sidebar > ul > li.active span, #sidebar > ul > li:hover span {
    color: #fff;
}
#sidebar > ul > li.active, #sidebar > ul > li:hover {
    background-color: #1f2b3d;
}
#sidebar > ul > li.active i, #sidebar > ul > li:hover i {
    color: #18cdc4;
}

#sidebar > ul > li {
    position: relative;
    width: 195px;
    height: 80px;
}
#sidebar > ul > li ul {
    position: absolute;
    left: 195px;
    top: 0;
    width: 195px;
    z-index: 5000;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #1f2b3d;
    color: #fff;
    /* display: none; */
}
#sidebar > ul > li ul a {
    color: #fff;
    display: block;
    padding: 15px;
    padding-left: 20px;
}
#sidebar > ul > li ul a:hover {
    color: #18cdc4;
    background-color: #26344B;
}


#navbar-main {
    padding: 0;
    background-color: #26344B;
}
#navbar-main .navbar-brand {
    background-color: #17C4BB;
    padding: 20px 15px;
}
#navbar-main a {
    color: #fff;
}
#navbar-main .dropdown-menu {
    left: initial;
    right: 0;
}
#navbar-main .dropdown-item {
    color: #555;
}
